<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="Tests">
        <classes>
            <class name="com.qapitol.testcases.AlertsAndFramesTestCases"/>
            <class name="com.qapitol.testcases.ElementsTestCases">
                <methods>
                    <include name="checkBoxTest"/>
                    <include name="RadioButtonTest"/>
                    <exclude name="WebTableTest"/>
                </methods>
            </class>
<!--            <class name="com.qapitol.testcases.FormsPageTest"/>-->
<!--            <class name="com.qapitol.testcases.HomePageTestCase"/>-->
<!--            <class name="com.qapitol.testcases.InteractionsTestCases"/>-->
<!--            <class name="com.qapitol.testcases.WidgetsTestCase"/>-->
        </classes>
    </test>
</suite>